@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
.navbar-brand img {
    max-height: 50px;
}

.contact-form{
    background: #fff;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%;
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
}
.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #0062cc;
}
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}

.center {
	position: absolute;
    top:30%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 300px;
	height: 200px;
	border-radius: 3px;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
}

.title {
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #999;
	text-align: center;
}

h1 {
	font-size: 16px;
	font-weight: 300;
	color: #666;
}

.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
  position: relative;
  background: #f6f6f6;
  padding: auto;
}




.drag-text {
  text-align: center;
  padding: 25px;
  margin-bottom: 10px;
}

.drag-text i {
  color: #666;;
  font-size: 4rem;
  margin-bottom: 0.5rem;
} 

.drag-text h5 {
    margin-top: 0;
    color: #666;
    margin-bottom: 20px;
}
.file-upload-image {
  max-height: 200px;
  max-width: 200px;
  margin: auto;
  padding: 20px;
}
.file-upload-content{
    position: relative;
    width: fit-content;
    margin: auto auto;
}
.removeImg {
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 6px  rgba(0,0,0,0.6);;
    color: rgb(0, 0, 0);
    cursor: pointer;
    text-align: center;
}

.file-upload-image
{
    padding: 0.5rem;
}

/******************Login Form***************/
.carousel-item {
	height: 90vh;
	min-height: 350px;
	background: no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
  .intro-section {
    background-image: url(https://img.wallpapersafari.com/desktop/1280/1024/87/15/V6z0Eb.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    padding: 75px 95px;
    min-height: 89vh;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    color: #ffffff; }
    @media (max-width: 991px) {
      .intro-section {
        padding-left: 50px;
        padding-right: 50px; } }
    @media (max-width: 767px) {
      .intro-section {
        padding: 28px; } }
    @media (max-width: 575px) {
      .intro-section {
        display: none; } }
  
  .brand-wrapper .logo {
    height: 35px; }
  
  @media (max-width: 767px) {
    .brand-wrapper {
      margin-bottom: 35px; } }
  
  .intro-content-wrapper {
    width: 410px;
    max-width: 100%;
    margin-top: auto;
    margin-bottom: auto; }
    .intro-content-wrapper .intro-title {
      font-size: 40px;
      font-weight: bold;
      margin-bottom: 17px; }
    .intro-content-wrapper .intro-text {
      font-size: 19px;
      line-height: 1.37; }
    .intro-content-wrapper .btn-read-more {
      background-color: #fff;
      padding: 13px 30px;
      border-radius: 0;
      font-size: 16px;
      font-weight: bold;
      color: #000; }
      .intro-content-wrapper .btn-read-more:hover {
        background-color: transparent;
        border: 1px solid #fff;
        color: #fff; }
  
  @media (max-width: 767px) {
    .intro-section-footer {
      margin-top: 35px; } }
  
  .intro-section-footer .footer-nav a {
    font-size: 20px;
    font-weight: bold;
    color: inherit; }
    @media (max-width: 767px) {
      .intro-section-footer .footer-nav a {
        font-size: 14px; } }
    .intro-section-footer .footer-nav a + a {
      margin-left: 30px; }
  
  .form-section {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center; }
    @media (max-width: 767px) {
      .form-section {
        padding: 35px; 
    } }
    @media (max-width: 575px) {
        .form-section {
            margin: auto;
            margin-top: 1rem;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            max-width: 90%; 
      }
    }
    .fa-eye, .fa-eye-slash
  {
      opacity: 70%;
  }
  .login-wrapper {
    width: 300px;
    max-width: 100%; }
    @media (max-width: 575px) {
      .login-wrapper {
        width: 100%; } }
    .login-wrapper .form-control {
      border: 0;
      border-bottom: 1px solid #e7e7e7;
      border-radius: 0;
      font-size: 14px;
      font-weight: bold;
      padding: 15px 10px;
      margin-bottom: 7px; }
      .login-wrapper .form-control::-webkit-input-placeholder {
        color: #b0adad; }
      .login-wrapper .form-control::-moz-placeholder {
        color: #b0adad; }
      .login-wrapper .form-control:-ms-input-placeholder {
        color: #b0adad; }
      .login-wrapper .form-control::-ms-input-placeholder {
        color: #b0adad; }
      .login-wrapper .form-control::placeholder {
        color: #b0adad; }
  
  .login-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px; }
  
  .login-btn {
    padding: 13px 30px;
    background-color: #000;
    border-radius: 0;
    font-size: 20px;
    font-weight: bold;
    color: #fff; }
    .login-btn:hover {
      border: 1px solid #000;
      background-color: transparent;
      color: #000; }
  
  .forgot-password-link {
    font-size: 14px;
    color: #080808;
    text-decoration: underline; }
  
  .social-login-title {
    font-size: 15px;
    color: #919aa3;
    display: -webkit-box;
    display: flex;
    margin-bottom: 23px; }
    .social-login-title::before, .social-login-title::after {
      content: "";
      background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#f4f4f4));
      background-image: linear-gradient(#f4f4f4, #f4f4f4);
      -webkit-box-flex: 1;
              flex-grow: 1;
      background-size: calc(100% - 20px) 1px;
      background-repeat: no-repeat; }
    .social-login-title::before {
      background-position: center left; }
    .social-login-title::after {
      background-position: center right; }
  
  .social-login-links {
    text-align: center;
    margin-bottom: 32px; }
  
  .social-login-link img {
    width: 40px;
    height: 40px;
    -o-object-fit: contain;
       object-fit: contain; }
  
  .social-login-link + .socia-login-link {
    margin-left: 16px; }
  
  .login-wrapper-footer-text {
    font-size: 14px;
    text-align: center; }
  
    .phoneNo
    {
        position: relative;
    }
    .phoneNoInput
    {
        transform: translate(5%,0);
        width: 84%;
        margin-left: 14%;
        transition: 0.25s;
    }
    .countryCode{
        position: absolute;
        display: none;
        left:0.5rem;
        top:1rem;
        margin-right: 2rem;
        color: #b0adad;
        font-weight:bold;
    }

    .reveal{
        position: relative;
        transform: translateY(100px);
        opacity: 0;
        transition: 1s all ease;
      }
      .isActive{
        transform: translateY(0);
        opacity: 1;
      }
      .feature {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 3rem;
        width: 3rem;
        font-size: 1.5rem;
      }
   .inputProfile
   {
       margin:0;
       background-color: #fff;
       border-style: none;
   }
   .inputProfile:focus
   {
       outline:none;
       background-color: #f6f3f3;
   }
   #updateButton
   {
       display:none;
   }
   #cancelButton
   {
       display: none;
   }

   /* BEGIN REPORT CARD DESIGN */
   .report-card{
     cursor: pointer;
     box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
     border-top-left-radius: 30px;
     height: 30vh;
   }
   .report-card:hover{
    box-shadow: 0px 11px 16px 1px rgba(0,0,0,0.1);
   }
   .card-image{
     height: 20vh;
     object-fit: cover;
     object-position: top;
     border-top-left-radius: 30px;
   }
   .card-block
   {
     max-height: 80px;
     padding: 2%;
     background-color: #fff;
     border-top: 1px solid rgb(179, 179, 179);
   }
   .card-text{
     text-align: left;
   }
    .date{
      position:absolute;
      right: 5%;
      bottom: 0;
      margin: 0;
      font-size: small;
      opacity: 60%;
   }


/* CSS */
.newButton {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
  text-decoration: none;
}

.newButton:hover {
  background: #F6F9FE;
  color: #174ea6;
  text-decoration: none;
}

.newButton:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.addIcon
{
  margin-right: 1rem;
  font-size: 1.8rem;
  color: blue;
}
.notification
{
  position: relative;
  width: 2.5rem;
}
.notification span.badge {
  position: absolute;
  font-size: x-small;
  color: white;
  background-color: red;
  border-radius: 50px;
  bottom:0.25rem;
  right:0;
}
nav i {
  font-size: large;
}

.dashboard
{
  font-size: 1.5rem;
  left:25%;
  text-align: center;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Add Animation */
.modal-content {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

#imgViewer
{
  cursor: zoom-in;
}
.reportImgEdit{
  display:flex;
  justify-content: center;
  height: 300px;
}

.new-message-box {
    /* margin: 15px 0; */
    padding-left: 20px;
    /* width: 25%; */
    position: absolute;
    bottom: 0;
    right:1%;
    animation: cssAnimation 3s forwards;
    /* margin-bottom: 25px!important; */
}

.new-message-box p{
    font-size: 1.15em;
    font-weight: 600;
    margin-top: 4%;
    margin-bottom: 0;
}

.info-tab {
    width: 40px;
    height: 40px;
    display: inline-block;
    position: relative;
    top: 8px;
}

.info-tab {
    float: left;
    margin-left: -23px;
}

.info-tab i::before {
    width: 24px;
    height: 24px;
    box-shadow: inset 12px 0 13px rgba(0,0,0,0.5);
}

.info-tab i::after {
    width: 0;
    height: 0;
    border: 12px solid transparent;
    border-bottom-color: #efefef;
    border-left-color: #efefef;
    bottom: -18px;
}

.info-tab i::before, .info-tab i::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: -17px;
    transform: rotateX(60deg);
}

.note-box, .warning-box, .tip-box-success, .tip-box-danger, .tip-box-warning, .tip-box-info, .tip-box-alert {
    padding: 12px 8px 0px 26px;
}


/***Success****/

.new-message-box-success {
    background: #eeeeee;
    padding: 3px;
    margin: 10px 0;
}

.tip-icon-success {
    background: #8BC34A;
}

.tip-box-success {
    color: #33691E;
    background: #DCEDC8;
}

.tip-icon-success::before {
    font-size: 25px;
    content:"\f00c";
    top: 8px;
    left: 11px;
    font-family: FontAwesome;
    position: absolute;
    color: white;
}

.tip-icon-success i::before {
    background: #8BC34A;
}


/*******Danger*******/
.new-message-box-danger {
    background: #eeeeee;
    padding: 3px;
    margin: 10px 0;
}

.tip-icon-danger {
    background: #f44336;
}

.tip-box-danger {
    color: #b71c1c;
    background: #FFCCBC;
}

.tip-icon-danger::before {
    font-size: 25px;
    content:"\f00d";
    top: 8px;
    left: 11px;
    font-family: FontAwesome;
    position: absolute;
    color: white;
}

.tip-icon-danger i::before {
    background: #f44336;
}

/*******warning*******/
.new-message-box-warning {
    background: #eeeeee;
    padding: 3px;
    margin: 10px 0;
}

.tip-icon-warning {
    background: #FFEB3B;
}

.tip-box-warning {
    color: #212121;
    background: #FFF9C4;
}

.tip-icon-warning::before {
    font-size: 25px;
    content:"\f071";
    top: 8px;
    left: 11px;
    font-family: FontAwesome;
    position: absolute;
    color: #212121;
}

.tip-icon-warning i::before {
    background: #FFEB3B;
}

/*******info*******/
.new-message-box-info {
    background: #eeeeee;
    padding: 3px;
    margin: 10px 0;
}

.tip-box-info {
    color: #01579B;
    background: #B3E5FC;
}

.tip-icon-info {
    background: #03A9F4;
}

.tip-icon-info::before {
    font-size: 25px;
    content:"\f129";
    top: 8px;
    left: 11px;
    font-family: FontAwesome;
    position: absolute;
    color: white
}

.tip-icon-info i::before {
    background: #03A9F4;
}


/*******info*******/
.new-message-box-alert {
    background: #FF6F00;
    padding: 3px;
    margin: 10px 0;
}

.tip-box-alert {
    color: #212121;
    background: #FFF8E1;
}

.tip-icon-alert {
    background: #FF6F00;
}

.tip-icon-alert::before {
    font-size: 25px;
    content:"\f06a";
    top: 8px;
    left: 11px;
    font-family: FontAwesome;
    position: absolute;
    color: white
}

.tip-icon-alert i::before {
    background: #FF6F00;
}

.removeMsg
{
  /* position: absolute; */
  cursor: pointer;
  /* right:10%;
  top:20%; */
  font-size: 2rem;
  font-weight: bold;
  opacity:50%;
  /* margin-left: 1rem; */
}
.removeMsg:hover
{
  opacity: 100%;
}
.fade {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}
@keyframes cssAnimation {
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;}
}
@-webkit-keyframes cssAnimation {
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;}
}

.filterLabel{
  position: absolute;
  color: #000;
  z-index: 100; 
  top: -20px;
  padding: 0;
  margin:0;
}